<div class="container">

	<div class="radio person col-lg-3 col-md-3 col-sm-6 col-xs-12 hovno">
    <label>

    

		<div class="person-image person-margin text-center"></div>
			<input type="radio" ng-model="formData.user" value="Manager" checked><h3 class="person-header text-center">Manager</h3>
			<p class="person-description">Are you the manager looking for the right solution for your company? As a manager with responsibility for one or more projects you can manage them all at one place. You can chose a solution covering your needs and collaborate with other departments.</p>
			</label>
		</div>
	

	<div class="radio person col-lg-3 col-md-3 col-sm-6 col-xs-12"  style="padding-top: 55px;">
    <label>

    

		<div class="person-image1 person-margin text-center"></div>
			<input type="radio" ng-model="formData.user" value="Designer"><h3 class="person-header text-center">Designer</h3>
			<p class="person-description">Designer has plenty of ideas that can be transformed into an exceptionally looking design. We change your design into a real application. We collaborate with you through UI and UX analyses and together we create a product that is both easy to use and nice to look at.</p>
			</label>
		</div>

	<div class="radio person col-lg-3 col-md-3 col-sm-6 col-xs-12"  style="padding-top: 55px;">
    <label>

    

		<div class="person-image2 person-margin text-center"></div>
			<input type="radio" ng-model="formData.user" value="Startuper"><h3 class="person-header text-center">Startuper</h3>
			<p class="person-description">Do you have a great idea but need help to make it happen? We help you to design the best technology solution for your start up. You can choose to work either remotely or directly with our start up team. The cooperation can range from consulting to mentoring.</p>
			</label>
		</div>

		<div class="radio person col-lg-3 col-md-3 col-sm-6 col-xs-12"  style="padding-top: 55px;">
    <label>

    

		<div class="person-image3 person-margin text-center"></div>
			<input type="radio" ng-model="formData.user" value="Other person"><h3 class="person-header text-center">Other person</h3>
			<p class="person-description">Haven’t you found your place yet? It’s just fine. We offer solutions to everybody who are looking for a professional help and enjoy friendly, open minded cooperation.</p>
			</label>
		</div>
</div>



<div class="form-group row">


<div class="col-xs-2 col-xs-offset-10 text-left">
    <a ui-sref="form.industry" class="btn btn-block btn-info">
    Next Section <span class="glyphicon glyphicon-circle-arrow-right"></span>
    </a>
</div>
</div>