<div class="container">

    <div class="radio person col-lg-3 col-md-3 col-sm-6 col-xs-12" style="padding-top: 41px;">
    <label>

    

        <div class="person-image12 person-margin text-center"></div>
            <input type="radio" ng-model="formData.industry" value="Telecommunication" checked><h3 class="person-header text-center">Telecommunications</h3>
            <p class="person-description">Our solutions include integration of the newest technologies, processing USB signals, external telecommunication systems connections and applications ensuring communication between devices.</p>
            </label>
        </div>
    

    <div class="radio person col-lg-3 col-md-3 col-sm-6 col-xs-12" style="padding-top: 55px;">
    <label>

    

        <div class="person-image13 person-margin text-center"></div>
            <input type="radio" ng-model="formData.industry" value="Banking"><h3 class="person-header text-center">Banking</h3>
            <p class="person-description">In banking our solutions are designed with respect to the greatest security while enabling user friendly navigation for customer. Authorization of users is simple and enables using application for all financial operation from internet banking payment.</p>
            </label>
        </div>

    <div class="radio person col-lg-3 col-md-3 col-sm-6 col-xs-12" style="padding-top: 55px;">
    <label>

    

        <div class="person-image15 person-margin text-center"></div>
            <input type="radio" ng-model="formData.industry" value="Medical"><h3 class="person-header text-center">Medical</h3>
            <p class="person-description">Our solutions help in a day-to-day work of doctors, who take care of tens of people every day. We offer an application that can speed up and automate repeated actions.</p>
            </label>
        </div>

        <div class="radio person col-lg-3 col-md-3 col-sm-6 col-xs-12" style="padding-top: 55px;">
    <label>

    

        <div class="person-image14 person-margin text-center"></div>
            <input type="radio" ng-model="formData.industry" value="Marketing"><h3 class="person-header text-center">HR & Marketing</h3>
            <p class="person-description">We offer solutions and services for your marketing. If you need to come up with an application that would present your company effectively or a new idea that you have, just let us know. We also develop applications for HR teams as well as for HR activities such as hiring and candidate selection.</p>
            </label>
        </div>
</div>



<div class="form-group row">

<div class="col-xs-2 text-right">
    <a ui-sref="form.whoyouare" class="btn btn-block btn-info">
    <span class="glyphicon glyphicon-circle-arrow-left"></span> Previous section 
    </a>
</div>
<div class="col-xs-2 col-xs-offset-8 text-left">
    <a ui-sref="form.service" class="btn btn-block btn-info">
    Next Section <span class="glyphicon glyphicon-circle-arrow-right"></span>
    </a>
</div>
</div>