<div class="container">

    <div class="radio person col-lg-3 col-md-3 col-sm-6 col-xs-12" style="padding-top: 41px;">
    <label>

    

        <div class="person-image31 person-margin text-center"></div>
            <input type="radio" ng-model="formData.requirement" value="Agile development" checked><h3 class="person-header text-center">Agile development</h3>
            <p class="person-description">Agile is one of main development methods we are using in our projects. If you don’t have precisely defined requirements on your application, you might need to create and test with users a prototype fairly quickly.  This is exactly the situation when agile is the right solution for you. We define iterations with you and actively participate on product development.</p> 
            </label>
        </div>
    

    <div class="radio person col-lg-3 col-md-3 hidden-sm hidden-xs" style="padding-top: 55px;">
    <label>

    

        <div class="person-image32 person-margin text-center"></div>
            <input type="radio" ng-model="formData.requirement" value="Waterfall development"><h3 class="person-header text-center">Waterfall development</h3>
            <p class="person-description">If your requirements are precisely defined, as well as you have defined a target group and application type, you can benefit from waterfall development method. We will create detailed analysis based on which we deliver complex solutions. This method is particularly useful for complex and enterprise mobile applications.</p> 
            </label>
        </div>

    <div class="radio person col-lg-3 col-md-3 hidden-sm hidden-xs" style="padding-top: 55px;">
    <label>

    

        <div class="person-image33 person-margin text-center"></div>
            <input type="radio" ng-model="formData.requirement" value="Test-driven development"><h3 class="person-header text-center">Test driven development</h3>
            <p class="person-description">Test-driven development enables you to keep entire development cycle under control. The development is managed by tests, when a testing scenario is created before implementation. Based on this a functionality is implemented.</p> 
            </label>
        </div>

        <div class="radio person col-lg-3 col-md-3 col-sm-6 col-xs-12" style="padding-top: 55px;">
    <label>

    

        <div class="person-image34 person-margin text-center"></div>
            <input type="radio" ng-model="formData.requirement" value="Custom development"><h3 class="person-header text-center">Custom development</h3>
            <p class="person-description">If you have no preference in terms of development methods, we can analyze your requirements on the application and offer the most convenient solution. We also enjoy working with other teams and we are happy to integrate development into your existing team or company.</p> 
            </label>
        </div>
</div>



<div class="form-group row">

<div class="col-xs-2 text-right">
    <a ui-sref="form.service" class="btn btn-block btn-info">
    <span class="glyphicon glyphicon-circle-arrow-left"></span> Previous section 
    </a>
</div>
<div class="col-xs-2 col-xs-offset-8 text-left">
    <a ui-sref="form.other" class="btn btn-block btn-info">
    Next Section <span class="glyphicon glyphicon-circle-arrow-right"></span>
    </a>
</div>
</div>