<div class="container">

    <div class="radio person col-lg-3 col-md-3 col-sm-6 col-xs-12" style="padding-top: 41px;">
    <label>

    

        <div class="person-image21 person-margin text-center"></div>
            <input type="radio" ng-model="formData.service" value="Native application" checked><h3 class="person-header text-center">Native application</h3>
            <p class="person-description">Primarily we develop native mobile applications for iOS, Android and Windows Phone platforms. We follow all standards the platform requires and we continuously follow trends for native development. We are familiar with technology upgrades and monitor cutting edge inventions such as Apple Watch, Google Glass, iBeacon and others.</p>            </label>
        </div>
    

    <div class="radio personcol-lg-3 col-md-3 hidden-sm hidden-xs" style="padding-top: 55px;">
    <label>

    

        <div class="person-image22 person-margin text-center"></div>
            <input type="radio" ng-model="formData.service" value="Multiplatform development"><h3 class="person-header text-center">Multiplatform application</h3>
            <p class="person-description">If it serves your needs, we are open to proceed with multiplatform development of applications with XAMARIN. Multiplatform development is suitable for smaller applications without complex logics. Usability for all platforms at once is the greatest advantage of this approach.</p>
            </label>
        </div>

    <div class="radio person col-lg-3 col-md-3 col-sm-6 col-xs-12" style="padding-top: 55px;">
    <label>

    

        <div class="person-image23 person-margin text-center"></div>
            <input type="radio" ng-model="formData.service" value="Enterprise mobile"><h3 class="person-header text-center">Enterprise mobile</h3>
            <p class="person-description">We often develop applications for large clients who need a complex architecture and connection to a variety of external company systems. Enterprise solutions enable full integration into company infrastructure, connecting to login and logon systems, data analytics, business intelligence and reporting.</p>
            </label>
        </div>

        <div class="radio person col-lg-3 col-md-3 hidden-sm hidden-xs" style="padding-top: 55px;">
    <label>

    

        <div class="person-image24 person-margin text-center"></div>
            <input type="radio" ng-model="formData.service" value="Mobile as a platform"><h3 class="person-header text-center">Mobile as a Platform</h3>
            <p class="person-description">We offer mobile solutions based on cloud service Windows Azure. It is possible to integrate mobile CRM tools within our solutions as well as we create hybrid connection and backend REST services with support for any platform or system.</p>
            </label>
        </div>
</div>



<div class="form-group row">

<div class="col-xs-2 text-right">
    <a ui-sref="form.industry" class="btn btn-block btn-info">
    <span class="glyphicon glyphicon-circle-arrow-left"></span> Previous section 
    </a>
</div>
<div class="col-xs-2 col-xs-offset-8 text-left">
    <a ui-sref="form.requirements" class="btn btn-block btn-info">
    Next Section <span class="glyphicon glyphicon-circle-arrow-right"></span>
    </a>
</div>
</div>