

<div class="container">

    <div class="person col-lg-3 col-md-3 col-sm-6 col-xs-12" style="padding-top: 55px;">
    <label>

    

        <div class="person-image41 person-margin text-center"></div>
            <input type="checkbox" ng-model="formDetail.ui" ng-value="ui ux" checked><h3 class="person-header text-center">UI/UX</h3>
            <p class="person-description" style="font-weight=400;">Professionally looking UI is a key to success of your application. As a part of solution we provide also UI analysis of application, UI proposal including use cases, adjustment of UI to your specific platform. We will be happy to consult with you your preferred solution.</p> 
            </label>
        </div>
    

    <div class="person col-lg-3 col-md-3 col-sm-6 col-xs-12" style="padding-top: 55px;">
    <label>

    

        <div class="person-image42 person-margin text-center"></div>
            <input type="checkbox" ng-model="formDetail.design" value="design"><h3 class="person-header text-center">Design</h3>
            <p class="person-description" style="font-weight=400;">We create mock ups into elegant design. We give your application the right color, components and integrate animations. We are familiar with concepts such as material design and we deliver a specific design to applications of our clients, while maintaining functionality and placement of components.</p> 
            </label>
        </div>

    <div class="person col-lg-3 col-md-3 col-sm-6 col-xs-12" style="padding-top: 55px;">
    <label>

    

        <div class="person-image43 person-margin text-center"></div>
            <input type="checkbox" ng-model="formDetail.cloud" value="cloud support"><h3 class="person-header text-center">Cloud support</h3>
            <p class="person-description" style="font-weight=400;">If you do not have an IT department to take care of your application, we provide you a complex administration and maintenance services of your application. You can choose either cloud solution or local server solution.</p> 
            </label>
        </div>

        <div class="radio person col-lg-3 col-md-3 col-sm-6 col-xs-12" style="padding-top: 24px;">
    <label>

    

        <div class="person-image44 person-margin text-center"></div>
            <input type="checkbox" ng-model="formDetail.cosulting" value="consulting"><h3 class="person-header text-center">Consulting</h3>
            <p class="person-description">Do you need help and independent view on mobile applications development? Or you could do with advice regarding UI, design, or solution architecture? Maybe you want to check your idea of a mobile application? We are here for you.</p> 
            </label>
        </div>
</div>



<div class="form-group row">

<div class="col-xs-2 text-right">
    <a ui-sref="form.requirements" class="btn btn-block btn-info">
    <span class="glyphicon glyphicon-circle-arrow-left"></span> Previous section 
    </a>
</div>
<div class="col-xs-2 col-xs-offset-8 text-left">
    <a ui-sref="form.summary" class="btn btn-block btn-info">
    Next Section <span class="glyphicon glyphicon-circle-arrow-right"></span>
    </a>
</div>
</div>